<div class="container">
    <div class="form-signin text-center">
        <form>
            <!-- <img class="mb-4" src="../../assets/logo.jpg" alt="" width="150" height="57"> -->
            <!-- <h3 class="h3 mb-3 fw-normal">Авторизация</h3> -->
            <label for="inputEmail" class="visually-hidden">логин</label>
            <input type="text" id="inputEmail" class="form-control" placeholder="логин" required="" autofocus="">
            <br>
            <label for="inputPassword" class="visually-hidden">пароль</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="пароль" required="">
            <div class="checkbox mb-3">
              <label>
                <input type="checkbox" value="remember-me"> запомнить
              </label>
            </div>
            <button class="w-100 btn btn-md btn-outline-success" type="submit">Войти</button>
          </form>
    </div>
</div>


