
  <footer class="mt-auto py-3 bg-light">
    <div class="container">   
     <span>
      <a href="http://gomel-region.by/ru/2022-ru">
        <img src="../../../assets/banners/gip.jpeg" alt="">
      </a>
      <a href="https://belayarus.by/">
        <img src="../../../assets/banners/belayarus.jpg" alt="">
      </a>
      <a href="https://brsm.by/">
        <img src="../../../assets/banners/brsm.jpg" alt="">
      </a>
      <a href="https://www.belarus.by/ru/press-center/2018-year-of-native-land-in-belarus">
        <img src="../../../assets/banners/gmr.jpeg" alt="">
      </a>
      <a href="http://www.gomel-region.by/ru">
        <img src="../../../assets/banners/gomel-region.jpg" alt="">
      </a>
      <a href="http://gomelisp.gov.by/">
        <img src="../../../assets/banners/gomelisp.jpg" alt="">
      </a>
      <a href="https://pravo.by/">
        <img src="../../../assets/banners/pravo.jpg" alt="">
      </a>
      <a href="https://president.gov.by/ru">
        <img src="../../../assets/banners/president.jpg" alt="">
      </a> 
     </span>
    </div>
  </footer>