<div class="container">
        <h2>Информация для акционеров</h2>
        
            <pre>
                Уважаемые акционеры ОАО «Агрокомбинат «Южный»! 
       	        23 марта  2021 года в 11.00  
                состоится очередное общее собрание акционеров  
           	    ОАО «Агрокомбинат «Южный» 
    ПОВЕСТКА ДНЯ: 
1. Об итогах  финансово-хозяйственной деятельности Общества в 2020 году и основных направлениях  деятельности Общества в 2021 году. 
2. Утверждение годового отчета, бухгалтерского баланса, отчета о прибылях и убытках Общества за 2020 год. 
3. О распределении чистой прибыли Общества и выплате дивидендов за 2020 год и направлениях использования чистой прибыли в 2021 году. 
4. Отчет ревизионной комиссии по результатам проверки финансово-хозяйственной деятельности Общества за 2020 год. 
5. Отчет наблюдательного совета о проделанной работе в 2020 году. 
6.  Избрание  наблюдательного совета и ревизионной комиссии Общества. 
7. О размере вознаграждений и компенсации расходов членам наблюдательного совета и ревизионной комиссии. 
8. Другие вопросы, связанные с деятельностью Общества. 
 
    С материалами, подготовленными к собранию, можно ознакомиться по адресу: п.Цагельня, административное здание (приемная руководителя) с 23 февраля 
по 23 марта 2021 года (время работы с 8.00 до 17.00). 
Регистрация участников собрания – с 10.30 до 11.00 по месту проведения собрания. 
Место проведения собрания: Цагельнянский СДК. 
НАЧАЛО ПРОВЕДЕНИЯ СОБРАНИЯ – 23 марта 2021 года, 11.00. Цагельнянский СДК. 
Список акционеров для участия в собрании будет составлен по состоянию реестра на 22 марта 2021 года. 
Для регистрации при себе иметь следующие документы: акционеру общества – паспорт, представителю акционера – паспорт и доверенность. 
Наблюдательный совет». 
            </pre>
        
</div>
