<div class="container">
    <h4>Фотогалерея</h4>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        
        

        <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img card-img-top" width="100$" height="225"  src="../../assets/photos/v2020.jpeg" alt="">

            <div class="card-body">
              <p class="card-text">Выставка-ярмарка в г.Гомеле</p>
              <div class="d-flex justify-content-between align-items-center">
                
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img card-img-top" width="100$" height="225"  src="../../assets/photos/nagrady.jpeg" alt="">
            <div class="card-body">
              <p class="card-text">Награды ОАО "Агрокомбинат "Южный"</p>
              <div class="d-flex justify-content-between align-items-center">
                
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img card-img-top" width="100$" height="225"  src="../../assets/photos/uk2020.jpeg" alt="">
            <div class="card-body">
              <p class="card-text">Уборочная кампания 2020</p>
              <div class="d-flex justify-content-between align-items-center">
                
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img card-img-top" width="100$" height="225"  src="../../assets/photos/z2020.jpeg" alt="">

            <div class="card-body">
              <p class="card-text">Зажынi 2020</p>
              <div class="d-flex justify-content-between align-items-center">
                
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            
            <img class="bd-placeholder-img card-img-top" width="100$" height="225"  src="../../assets/photos/d2020.jpeg" alt="">
            <div class="card-body">
              <p class="card-text">Дажынкi 2020.</p>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img card-img-top" width="100$" height="225"  src="../../assets/photos/p2020.jpeg" alt="">

            <div class="card-body">
              <p class="card-text">Награждение сотрудников предприятия</p>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>
        
      </div>
      <div class="container">
        <div class="row mb-2">
            <nav aria-label="Page navigation example">
              <ul class="pagination justify-content-center">
                <li class="page-item disabled">
                  <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                  <a class="page-link" href="#">Next</a>
                </li>
              </ul>
            </nav>
          </div>
    
      </div>
</div>