<div class="container">
    <h4>Раздел фирменной торговли</h4>
    <p class="lead">
        Высококачественные мясные изделия ОАО "Агрокомбинат "Южный" ежедневно поступают в сеть фирменной торговли. Через неё напрямую реализуется боле 95% товарной продукции. Фирменная торговля ОАО "Агрокомбинат "Южный" берёт своё начало с июля 1998 года, когда был открыт 1-й магазин в городе Гомеле. Сегодня фирменная торговая сеть предприятия представлена 6 магазинами и 2 столовыми в населённых пунктах г.Гомель и п.Ерёмино. По мере увеличения объёмов производства продукции и расширения ассортимента будет расти количество фирменных магазинов.
    </p>
    <p class="lead">
        Покупатели знают и любят нашу продукцию за качество и отменный вкус, которые получаются благодаря особой технологии 
        производства. 
        Наше предприятие заинтересовано во взаимовыгодных партнёрских отношениях по 
        всем направлениям своей деятельности.
    </p>
    <h4>
        Адреса торговой сети:
    </h4>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
              <th scope="col">Объект</th>
              <th scope="col">Адрес</th>
              <th scope="col">Контактное лицо</th>
              <th scope="col">Телефон</th>
            </tr>
          </thead> 
        <tbody>
            <tr>
                <td>Магазин №2</td>
                <td>п. Цагельня, ул.Южная</td>
                <td>Тонкова Зоя Викторовна</td>
                <td>99-41-73</td>
            </tr>
            <tr>
                <td>Магазин №3</td>
                <td>г. Гомель, ул. Севастопольская 102 г</td>
                <td>Гирина Елена Николаевна</td>
                <td>51-47-76</td>
            </tr>
            <tr>
                <td>Магазин №4</td>
                <td>г. Гомель, ул. 8-я Иногородняя 2</td>
                <td>Пацук Юлия Александровна</td>
                <td>27-99-03</td>
            </tr>
            <tr>
                <td>Магазин №5</td>
                <td>п. Ерёмино, ул. Советская, 163</td>
                <td>Теплякова Наталья Николаевна</td>
                <td>98-17-33</td>
            </tr>
            <tr>
                <td>Магазин №6</td>
                <td>п. Поколюбичи, ул. Александровка 4а</td>
                <td>Падух Лилия Николаевна</td>
                <td>98-15-13</td>
            </tr>
            <tr>
                <td>Магазин №9</td>
                <td>г. Буда-Кошелёво, ул. Советская 4</td>
                <td>Афанасенко Елена Викторовна</td>
                <td>8-0233 67-87-26</td>
            </tr>
            <tr>
                <td>Столовая №1</td>
                <td>п. Цагельня, ул. Южная</td>
                <td>Концевич Любовь Степановна</td>
                <td>98-01-74</td>
            </tr>
            <tr>
                <td>Столовая №2</td>
                <td>п. Ерёмино, ул. Советская, 163-2</td>
                <td>Янковская Людмила Сергеевна</td>
                <td>98-04-07</td>
            </tr>
            
        </tbody>
    
    </table>
    
</div>

