<div class="container">
    <p>Реализуемая продукция</p>
    <pre>
        На сегодняшний день ОАО «Агрокомбинат «Южный» выпускает свыше 250 видов изделий, в том числе:

        Колбасы вареные, сардельки, сосиски, шпикачки;
        Ветчины вареные рубленные;
        Колбасы вяленые, варено-копченые, полукопченые;
        Копчености (сырокопченые, варено-копченые);
        Изделия из шпика;
        Нефондовые (колбаса ливерная, паштет, зельц, хлебец)
        Полуфабрикаты (крупнокусковые бескостные, мясокостные, в маринаде);
        Пельмени;
        Колбаса сырая;
        Фарш;
        Шпик;
        Субпродукты свиные.
    </pre>
</div>

