<div class="container">
    <h4>Реализуемая продукция</h4>
    <p class="lead">На сегодняшний день ОАО «Агрокомбинат «Южный» выпускает свыше 250 видов изделий, в том числе:</p>
    <ul>
        <li>Колбасы вареные, сардельки, сосиски, шпикачки;</li>
        <li>Ветчины вареные рубленные;</li>
        <li>Колбасы вяленые, варено-копченые, полукопченые;</li>
        <li>Копчености (сырокопченые, варено-копченые);</li>
        <li>Изделия из шпика;</li>
        <li>Нефондовые (колбаса ливерная, паштет, зельц, хлебец);</li>
        <li>Полуфабрикаты (крупнокусковые бескостные, мясокостные, в маринаде);</li>
        <li>Пельмени;</li>
        <li>Колбаса сырая;</li>
        <li>Фарш;</li>
        <li>Шпик;</li>
        <li>Субпродукты свиные.</li>
    </ul>    
</div>

